<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tvelykyy.indexator.dao.PageDao">

    <insert id="createPage" parameterType="com.tvelykyy.indexator.model.Page" useGeneratedKeys="true" keyProperty="id">
        insert into page(url, title)
        values ( #{url}, #{title} )
    </insert>

    <insert id="addIndexState">
        insert into page_index_log (page_id, indexed, date)
        values (#{0.id}, #{1.indexed}, #{1.date})
    </insert>

</mapper>